@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
		 url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sansitalic';
	src: url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
		 url('../fonts/opensans/opensans-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
		 url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// Var for using custom font
$fBold = 'open_sansbold', Helvetica, Arial, sans-serif;
$fItalic = 'open_sansitalic', Helvetica, Arial, sans-serif;
$fLight = 'open_sanslight', Helvetica, Arial, sans-serif;

