.footer
	background-color #000000
	&__in
		@extends .in
		padding-top 4px
		padding-bottom 30px
		cf()
	&__menu
		float left
	&__social
		float right

.menu
	&__title
		margin-bottom 2px
		font-family $fLight
		font-size 48px

		color #cccbc1
	&__item
		margin-bottom 2px
	&__link
		font-size 18px
		color #cccbc1
		text-decoration underline
		letter-spacing tracking(10)
		&:hover
			text-decoration none

