mixin footer(data)
	footer.footer
		.footer__in
			.footer__menu
				h2.menu__title мои блоги
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") блог по бизнесу
					li.menu__item
						a.menu__link(href="#") блог по психологии

			.footer__social.social
				h2.social__title как связаться
				ul.social__list
					li.social__item.social__item_skype
						a.social__link(href="#") Skype
					li.social__item.social__item_vk
						a.social__link(href="#") Вконтакте
					li.social__item.social__item_fb
						a.social__link(href="#") Facebook
