mixin header(data)
	header.header
		.header__top
			.header__left
				h1.header__title
					span.header__title-w Аляева Ксения
						span.header__note психолог
				.header__contacts
					a.header__email(href="mailto:alyaevaksenya@gmail.com") alyaevaksenya@gmail.com
					a.header__phone(href="tel:89852371112") 8-985-237-11-12
			a.header__photo(href="/")
				img(src="__static__/img/content/header-photo.jpg", alt="Аляева Ксения фото")

			.header__social.social
				ul.social__list
					li.social__item.social__item_skype
						a.social__link(href="#") Skype
					li.social__item.social__item_vk
						a.social__link(href="#") Вконтакте
					li.social__item.social__item_fb
						a.social__link(href="#") Facebook

		nav.header__nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#-1") консультирование
				li.nav__item
					a.nav__link(href="#-2") развитие персонала
				li.nav__item
					a.nav__link(href="#-3") коучинг
				li.nav__item
					a.nav__link(href="#-4") статьи
				li.nav__item
					a.nav__link(href="#-5") обо мне
				li.nav__item
					a.nav__link(href="#-5") контакты

