mixin slider(data)
	.slider
		.slider__in
			ul.slider__list.owl-carousel
				li.slider__item
					a.slider__link(href="#-1")
						.slider__image
							img(src="__static__/img/content/slider-img.jpg", alt="")
						.slider__caption
							p.slider__caption-text вопросы и ответы
				li.slider__item
					a.slider__link(href="#-2")
						.slider__image
							img(src="__static__/img/content/slider-img.jpg", alt="")
						.slider__caption
							p.slider__caption-text вопросы и ответы
				li.slider__item
					a.slider__link(href="#-3")
						.slider__image
							img(src="__static__/img/content/slider-img.jpg", alt="")
						.slider__caption
							p.slider__caption-text вопросы и отеты
